<div data-page="meals-list" class="page navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding">Meals Planner</div>
            <div class="right">
                <a href="#/meals-form" class="link">
                    <i class="icon icon-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="content-block">
            <div class="list-block">
                <ul>
                    <li class="swipeout">
                        <div class="swipeout-content item-content">
                            <div class="item-inner">Bacalhau com Natas</div>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#/meals-form" class="action1 bg-blue">Edit</a>
                            <a href="#" class="action2 bg-red">Delete</a>
                        </div>
                    </li>
                    <li class="swipeout">
                        <div class="swipeout-content item-content">
                            <div class="item-inner">Arroz com Frango</div>
                        </div>
                        <div class="swipeout-actions-right">
                            <a href="#/meals-form" class="action1 bg-blue">Edit</a>
                            <a href="#" class="action2 bg-red">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <a href="#/meals-calendar" class="floating-button color-pink">
        <i class="fa fa-calendar"></i>
    </a>
</div>