<div data-page="meals-calendar" class="page">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link">
					<i class="icon icon-back"></i>
				</a>
			</div>
			<div class="center sliding">Calendar</div>
			<div class="right">
				<a href="#" class="link">
					<i class="fa fa-print"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="content-block">
			<div class="card">
				<div class="card-header bg-lightgreen">Monday</div>
				<div class="card-content">
					<div class="card-content-inner">Arroz com Frango</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header bg-lightgreen">Tuesday</div>
				<div class="card-content">
					<div class="card-content-inner">Almoço: Bacalhau com Natas</div>
					<div class="card-content-inner">Jantar: Bacalhau com Natas</div>
				</div>
			</div>
		</div>
	</div>
</div>