<div data-page="meals-form" class="page navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="link">
                    <i class="icon icon-back"></i>
                </a>
            </div>
            <div class="center sliding"><%= title %></div>
            <div class="right">
                <% if (editMode) { %>
                <a class="link action-delete">
                    <i class="fa fa-trash"></i>
                </a>
                <% } else {%>
                <a class="link action-save">
                    <i class="fa fa-floppy-o"></i>
                </a>
                <% }%>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="content-block">
            <div class="content-block-title">Meal Details</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Name</div>
                                <div class="item-input">
                                    <input id="meal-name" type="text" placeholder="Meal Name" value="<%= mealName %>">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>