<div data-page="meals-calendar" class="page meals-calendar">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link">
					<i class="icon icon-back"></i>
				</a>
			</div>
			<div class="center sliding">Calendar</div>
			<% if (window.print) { %>
			<div class="right">
				<a class="link">
					<i class="fa fa-print action-print"></i>
				</a>
			</div>
			<% } %>
		</div>
	</div>
	<div class="page-content">
		<div class="content-block">
            <% if(planning != null && planning.get("dailyMeals") != null && planning.get("dailyMeals").length > 0){ %>
                <% _.each(planning.get("dailyMeals"), function(day, index){ %>
                <div class="card">
                    <div class="card-header bg-cyan"><%= Utils.getDayOfTheWeekName(day.date.getDay()) %> - <%= Utils.outputDateAsYYYYMMDD(day.date) %></div>
                    <div class="card-content action-popup-replace-meal" data-day-index="<%= index %>">
                        <div class="card-content-inner">
                            <span><%= day.meal.name %></span>
                            <i class="fa fa-retweet icon-replace"></i>
                        </div>
                    </div>
                </div>
                <% }); %>
            <% } %>
		</div>
	</div>
    <a class="floating-button bg-cyan action-refresh">
        <i class="fa fa-refresh"></i>
    </a>
</div>
