<div data-page="meals-form" class="page navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding">Form</div>
        </div>
    </div>
    <div class="page-content">
        <div class="content-block">
            <p>Form</p>
            <ul class="nav">
                <li><a href="#" >List</a></li>
                <li ><a href="#/meals-form">Form</a></li>
                <li><a href="#/meals-calendar">Calendar</a></li>
            </ul>
        </div>
    </div>
</div>