<div data-page="meals-list" class="page navbar-fixed">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="center sliding">Meals Planner</div>
            <div class="right">
                <a href="#/meals-form" class="link">
                    <i class="icon icon-plus"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div>
            <div class="list-block">
                <ul>
                    <% _.each(meals, function(meal){ %>
                    <li>
                        <a class="item-link item-content" href="#/meals-form/<%= meal.get("id") %>">
                            <div class="item-inner"><%= meal.get("name") %></div>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <a href="#/meals-calendar" class="floating-button color-pink">
        <i class="fa fa-calendar"></i>
    </a>
</div>